name: Insert PlantUML diagrams in markdown files
on:
  push:
    paths:
      - "**/*.md"
      - "**/*.puml"
  workflow_dispatch:

permissions:
  contents: write
jobs:
  insert-plantuml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run puml-for-markdown
        uses: willwolfram18/my-preferences/.github/actions/render-plant-uml.yaml@main
      - name: Commit markdown changes
        shell: bash
        run: |-
          if [ -z "$(git status --porcelain)" ]; then
            git add .
            git commit -m "Adding rendered PlantUML images"
            git push
          else
            echo "No changes to commit"
          fi
