name: Insert PlantUML diagrams in markdown files
on:
  push:
    paths:
      - "**/*.md"
      - "**/*.puml"
  workflow_dispatch:

jobs:
  insert-plantuml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Render PlantUML
        uses: grassedge/generate-plantuml-action@v1.5
        with:
          message: "Render PlantUML"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
